################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cpp/v15
/forward/x64/Debug/forward.tlog
/forward/x64/Debug
/x64/Debug
/.vs/forward/v15
